.App {
  background-color: #282c34;
  color: white;
  font-size: calc(20px + 2vmin);
  min-height: 100vh;
}

.url-text {
  font-size: 1.5rem;
  grid-area: url-text;
}

.input-label { 
  border-bottom: 1px solid gray;
  grid-area: input-label;
  text-align: center;
}

.output-label {
  border-bottom: 1px solid gray;
  grid-area: output-label;
  text-align: center;
}

.language-buttons {
  background: rgba(0, 128, 0, .2);
  border-right: 1px solid green;
  grid-area: language-buttons;
}

.language-text {
  background: rgba(0, 128, 0, .2);
  grid-area: language-text;
}

.animal-text {
  background: rgba(140, 48, 176, .2);
  grid-area: animal-text;
}

.animal-buttons { 
  background: rgba(140, 48, 176, .2);
  border-right: 1px solid #8c30b0;
  grid-area: animal-buttons;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "url-text url-text"
    "input-label output-label"
    "language-buttons language-text"
    "animal-buttons animal-text";
  row-gap: 1rem;
  margin: 0 auto;
  padding-top: 4rem;
  width: 900px;
}

.App-link {
  color: #61dafb;
  display: inline-block;
  padding-left: 20px;
  width: 340px;
}

.button {
  background: transparent;
  border-radius: 0.12rem;
  border: 0.1rem solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  height: 5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  width: 150px;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
}